.mdl-textfield{
	&:not(.mdl-textfield--expandable) {
		width:100%;
		max-width: 400px;
		

		.mdl-textfield__input {
			width:100%;
			max-width: 360px;
			border-bottom: 1px solid rgba(0,0,0,.1);
			display:inline-block;
		}
		button[type="submit"]{
			font-size: 1.4em;
		    color: rgba(0,0,0,.5);
		    padding:0;
		    min-width: 0px;
		    width: 40px;
		    float:right;
		    border-bottom: 1px solid rgba(0,0,0,.1);
		}
	}
}