.site-main {
	&.forum {
		#bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
			margin-left:130px;
		}
		.subscription-toggle, .favorite-toggle {
			float:right;
			margin:0 .5em .5em .5em;
			display:inline-block;
			i {
				margin-right:.35em;
			}
		}
		#subscription-toggle, #favorite-toggle {
			margin:0 .5em .5em .5em;
		}	

		.bbp-breadcrumb {
			margin-top:.5em;
		}

		.widget_display_stats {
			dl {
				margin-top:0;
				font-size:1.2em;
				background-color: rgba(0,0,0,.1);
				padding:1em;

				dt {
					clear:left;
				}
				dd {
					text-align: right;
				}
				dt, dd {
					margin: .25em 0 .5em 0;
					display: inline-block;
					width: 45%;
					vertical-align: top;
				}
			}
		}

		.widget-title {
			font-weight:300;
			font-size:1.8em;
			margin:.75em 0 .25em 0;

			&:first-of-type {
				margin-top:0;
			}
		}
		.widget_display_topics {
			ul {
				list-style-type: none;
				padding:0;
				li {
					background-color:rgba(0,0,0,.1);
					display:block;
					margin-bottom:.5em;
					padding:.75em .5em .75em .5em;
					i {
						vertical-align: top;
						font-size:1.6em;
						display:inline-block;
						height:40px;
						width:1em;
						color:#000;
						margin:0 .3em;
					}
				}
			}
				

		}
		#bbpress-forums div.bbp-search-form {
			float:none;
		}
		#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
			font-size:0.95em;
			margin:.25em 0 1em;
		}
		#bbpress-forums #bbp-search-form #bbp_search {
			width:100%;
			padding:.35em 0;
		}
		
		.mdl-data-table {
			color:$color__text-grey;
			border-color:$color__grey-two;
			margin-top:2em;

			th, td {
				padding:1em;
				border-color:$color__grey-two;
			}
			th {
				color:$color__grey-green;
				font-weight: 500;
				&:first-of-type {
					padding-left:18px;
				}
			}

			td {
				color:$color__text-grey;

				&:first-of-type {
					padding-left:18px;
				}
			}
		}

		table {
			width:100%;
			font-size:1.2em;
		}
		.mdl-card__media {
			height:120px;

		}
		.mdl-card__supporting-text {
			width:auto;
			color:$color__text-main;
		}

		#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
			border-radius: 50%;
			border:none;
			vertical-align: top;
    		margin-top: 3px;
		}
		.bbp-the-content {
			border: 1px solid rgba(0,0,0,.1);
			box-shadow: inset 0px 1px 3px rgba(0,0,0,.1);
		}
	}
}