.home-jumbotron {

	color:white;
 	margin: 3em 0 1em;
	
	>.mdl-cell {
		background: rgba(255,255,255,.15);
    padding: 0em 2em 0em;
	}

	img {
		margin:0 .5em;
	}

	h1 {
		font-size:3.6em;
		color:$color__tertiary-text;
		font-weight:300;
		//margin:0 0 .3em;
	}

	p {
		font-size: 1em;
	    font-weight: 300;
	    color: white;
	    max-width: 800px;
	    margin: 1.5em auto;
	}

	a {
		line-height: 1.2em;


		.mdl-button.mdl-button--raised {
			color: black;
			background:$color__secondary;
		    padding: 0 2em;
		    font-size: 1.6em;
		    line-height: 2em;
		    height: 2.4em;
		}
	}

}
@media (max-width: 1100px) {
  .home-jumbotron {
  	>.mdl-cell { 
  		padding:1.5em 1em 1.5em;
  	}
  	h1 {
  		font-size:3.2em;
  	}

  }
}
@media (max-width: 900px) {
  .home-jumbotron {
  	>.mdl-cell { 
  		padding:1em 1em 1.5em;
  	}
  	h1 {
  		font-size:3em;
  	}
  	p {
  		font-size:1.1em;
  		margin:1em 0;
  	}
  }
}
@media (max-width: 480px) {
  .home-jumbotron {
  	>.mdl-cell { 
  		padding:1em 1em 1.5em;
  	}
  	h1 {
  		font-size:3em;
  	}
  	p {
  		font-size:1.1em;
  		margin:1em 0;
  	}
  	img {
  		max-width: 50px;
  		height:auto;
  	}
  }
}