.site-main {

	-ms-word-wrap: break-word;
	word-wrap: break-word;

	.mdl-card {
		margin-bottom: 35px;
	}

	header {
		h1, h3 {
			margin: 0;
			color: #fff;
			font-weight:300;

			a {
				color: #fff;
				text-decoration: none;

				&:hover {

				}
			}
		}
		h3 {
			font-size: 2.4em;
		}
	}

	.mdl-card__media {
		box-sizing: border-box;
		background-size: cover;
		background-color: $color__tertiary;
		padding: 24px;
		display: flex;
		flex-grow: 1;
		flex-direction: row;
		align-items: flex-end;
		cursor: pointer;
		height: 280px;
	}

	.meta {
		box-sizing: border-box;
		padding: 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		height: auto;

		.avatar,
		.entry-meta {
			display: flex;
			flex-direction: column;
	    }
	    .avatar {
	    		margin-right: 10px;
	    		display: inline-block;
	    		border-radius: 50%;

	    }

	   	.entry-meta {
		    a {
		    	text-decoration: none;
		    	color: #757575;
		    	font-size: 12px;
		    	line-height: 16px
		    }
		}
	}
}

.single-post {
	.entry-content p{	
		font-size: 16px;
		line-height: 28px;
	}
}

.single,
.page {
	.mdl-card__media {
		cursor: default;
		box-shadow: inset 0px -70px 100px rgba(0,0,0,.35);
	}
	.default-sidebar-heading {
		font-size:1.6em;
	}
}
.single {
	.mdl-card__media, .mdl-card__supporting-text {
		padding:36px 72px 36px 48px;
	}
}