<?php

?>
<script src="https://use.fontawesome.com/237238f645.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css"/>    

<link rel="stylesheet" href="<?php print get_template_directory_uri();?>/js/fine-uploader/fine-uploader.css"/> 
<link rel="stylesheet" href="<?php print get_template_directory_uri();?>/js/fine-uploader/fine-uploader-new.css"/>       

<link rel="stylesheet" href="<?php print get_template_directory_uri();?>/js/ol3/ol.css"/>    
<link rel="stylesheet" href="<?php print get_template_directory_uri();?>/js/ol3-geocoder/ol3-geocoder.min.css"/>
<link rel="stylesheet" href="<?php print get_template_directory_uri();?>/js/ol3-popup/ol3-popup.css"/>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="<?php print get_template_directory_uri();?>/js/fine-uploader/fine-uploader.js"></script>

<script src="<?php print get_template_directory_uri();?>/js/ol3/ol.js"></script>
<script src="<?php print get_template_directory_uri();?>/js/ol3-geocoder/ol3-geocoder-debug.js"></script>
<script src="<?php print get_template_directory_uri();?>/js/ol3-popup/ol3-popup.js"></script>


<style>
.multielement{
	border: 1px solid #ccc;
	padding:20px;
}
.tab-pane{
	padding:20px;
}
.select2-container {
	width:100% !important;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
/*#map{
	height:400px;
}*/
#view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }

    .draw-poly {
      bottom:8px;
      left:8px;
    }
    .draw-poly button {
      font-size: 1em;
      width: 1.6em;
      height: 1.6em;
    }

#map{
    /*position:absolute;*/
    z-index:1;
    /*top:0; bottom:0;*/
    height:400px;
    width:100%;
}
.ol-control button{ 
    background-color: rgba(40, 40, 40, 0.8) !important;
}
.ol-control button:hover{ 
    background-color: rgba(40, 40, 40, 1) !important;
}

.ol-popup {
    position: absolute;
    min-width: 180px;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}
.ol-popup-closer:after {
    content: "✖";
}
</style>
<script type="text/javascript">
<?php if ($_GET['item_id']): ?>
	var item_id = <?php echo $_GET['item_id']; ?>;
<?php else: ?>
	var item_id = false;
<?php endif; ?>
</script>
<div id="item-form-wrapper" class="container">
	<a href="?page=my_items" class="btn btn-info pull-left">Back To Item List</a>
	<div class="jumbotron">

		 <?php if ($_GET['item_id']): ?>
			<h1 id="page-header" class="text-center">Edit Repository Item</h1>
		<?php else: ?>
			<h1 class="text-center">Add New Repository Item</h1>
		<?php endif; ?>
	  <!-- <p>Fill out Item metadata</p> -->
	  <p>
	  	<!-- <a class="btn btn-primary btn-lg" href="?page=add_item" role="button">Add new Item now</a> -->
	  	
	  </p>
	</div>

	<!-- <a href="?page=my_items" class="btn btn-info pull-left">Go To Item List</a> -->
	

	<form class="form-horizontal" v-on:submit.prevent="submitForm">
		 <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
		    <li role="presentation" class=""><a href="#related" aria-controls="related" role="tab" data-toggle="tab">Contact & Authorship</a></li>
		    <li role="presentation"><a href="#geo" aria-controls="geo" role="tab" data-toggle="tab">Geographic</a></li>
		    <li role="presentation"><a href="#files" aria-controls="files" role="tab" data-toggle="tab">Associated Files & Resources</a></li>
		    
		  </ul>
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="general">

		    	<!-- Title -->
				  <div class="form-group">
				    <label for="title" class="col-sm-2 control-label">Title(*)</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" name="title" v-model="title" placeholder="Title">
				    </div>
				  </div>

				  <!-- Status -->
				  <div class="form-group">
				    <label for="status" class="col-sm-2 control-label">Status</label>
				    <div class="col-sm-8">
				    	<select v-model="status">
						  <option>Draft</option>
						  <option>Published</option>
						</select>
				      	
				    </div>
				  </div>


				  <!-- Short Summary -->
				  <div class="form-group">
				    <label for="short-summary" class="col-sm-2 control-label">Short Summary</label>
				    <div class="col-sm-8">
				    	<textarea class="form-control" name="short-summary" v-model="short_summary"></textarea>
				    </div>
				  </div>
				  

				  <!-- Detailed Description -->
				  <div class="form-group">
				    <label for="detailed_description" class="col-sm-2 control-label">Detailed Description</label>
				    <div class="col-sm-8">
				    	<textarea class="form-control" name="detailed_description" v-model="detailed_description"></textarea>
				    </div>
				  </div>

				  <!-- Publication Year -->
				  <div class="form-group">
				    <label for="publication_year" class="col-sm-2 control-label">Publication Year</label>
				    <div class="col-sm-8">
				    	<input type="text" class="" name="publication_year" v-model="publication_year" placeholder="2016">
				    </div>
				  </div>


				  <!-- Format -->
				  <div class="form-group">
				    <label for="format" class="col-sm-2 control-label">Format</label>
				    <div class="col-sm-8">
				    	<input type="text" class="form-control" name="format" v-model="format" placeholder=".pdf">
				    </div>
				  </div>

				  <!-- Content Type -->
				  <div class="form-group">
				    <label for="format" class="col-sm-2 control-label">Content Type</label>
				    <div class="col-sm-8">
				    	<select v-model="content_type" v-select="content_type" name="content_type" id="content_type_select" multiple="multiple">
						    <option selected="{{o == content_type}}" v-for="o in content_type_options" :value="o" v-bind:value="o">{{ o }}</option>
						 </select>
				    </div>
				  </div>

				  <!-- Keyword Descriptors -->
				  <div class="form-group">
				    <label for="format" class="col-sm-2 control-label">Keyword Descriptors</label>
				    <div class="col-sm-8">
				    	<select v-model="keyword_descriptors" v-select="keyword_descriptors" name="keyword_descriptors" id="keyword_descriptors_select" multiple="multiple">
						    <option selected="{{o == keyword_descriptors}}" v-for="o in keyword_descriptors_options" :value="o" v-bind:value="o">{{ o }}</option>
						 </select>
				    </div>
				  </div>

				   <!-- Relevant Sector Or Discipline Area -->
				  <div class="form-group">
				    <label for="format" class="col-sm-2 control-label">Relevant Sector Or Discipline Area</label>
				    <div class="col-sm-8">
				    	<select v-model="relevant_sector_or_discipline_area" v-select="relevant_sector_or_discipline_area" name="relevant_sector_or_discipline_area" id="relevant_sector_or_discipline_area_select" multiple="multiple">
						    <option v-for="o in relevant_sector_or_discipline_area_options" :value="o" v-bind:value="o">{{ o }}</option>
						 </select>
				    </div>
				  </div>

				  <!-- Associated Projects/activities -->
				  <div class="form-group">
				    <label for="authors" class="col-sm-2 control-label">Associated Projects or Activities</label>
				    <div class="col-sm-8">
				    <ul>
				    	<li v-for="(index,proj) in associated_projects" v-bind:value="associated_projects" class="multielement">
				    		
						    <div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Name</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="proj.name" placeholder="Name">
							    </div>
							  </div>
						   	<div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Url</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="proj.url" placeholder="Url">
							    </div>
							    <button @click="removeProject(index)" class="btn btn-danger" type="button">
						        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						     </button>
							  </div>
				    		 
						 </li>
				    </ul>
				    <button type="button" @click="addProject" class="btn btn-default">Add Project or Activity</button>
				    </div>
				</div>


		    </div>

		    <div role="tabpanel" class="tab-pane" id="related">
		    	<!-- Authors -->
				  <div class="form-group">
				    <label for="authors" class="col-sm-2 control-label">Author</label>
				    <div class="col-sm-8">
				    <ul>
				    	<li v-for="(index,author) in authors" v-bind:value="author" class="multielement">
				    		
						    <div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Name</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="author.name" placeholder="Name">
							    </div>
							  </div>
						   	<div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Email</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="author.email" placeholder="Email">
							    </div>
							    <button @click="removeAuthor(index)" class="btn btn-danger" type="button">
						        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						     </button>
							  </div>
				    		 
						 </li>
				    </ul>
				    <button type="button" @click="addAuthor" class="btn btn-default">Add Author</button>
				    </div>
				  </div>

		    	 <!-- Content Owners -->
				  <div class="form-group">
				    <label for="content_owners" class="col-sm-2 control-label">Content Owners</label>
				    <div class="col-sm-8">
				    <ul>
				    	<li v-for="(index,owner) in content_owners" v-bind:value="owner">
				    		<div class="input-group">
						      <input type="text" class="form-control" v-model="owner" placeholder="Content Owner">
						      <span class="input-group-btn">
						        <button @click="removeContentOwner(index)" class="btn btn-danger" type="button">
						        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						        </button>
						      </span>
						    </div><!-- /input-group -->
				    		
						 </li>
				    </ul>
				    <button type="button" @click="addContentOwner" class="btn btn-default">Add Content Owner</button>
				    </div>
				  </div>

				   <!-- Custodian -->
				  <div class="form-group">
				    <label for="custodian" class="col-sm-2 control-label">Custodian</label>
				    <div class="col-sm-8">
				    	<input type="text" class="form-control" name="custodian" v-model="custodian" placeholder="Custodian">
				    </div>
				  </div>

				  <!-- Contact Person -->
				  <div class="form-group">
				    <label for="authors" class="col-sm-2 control-label">Primary contact person</label>
				    <div class="col-sm-8">
				    	<div class="multielement">
				    	
				    		
						    <div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Name</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="contact_person.name" placeholder="Name">
							    </div>
							</div>
						   	<div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Email</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="contact_person.email" placeholder="Email">
							    </div>
							</div>

							<div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Phone Number</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="contact_person.phone" placeholder="Phone">
							    </div>
							</div>

							<div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Mobile Number</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="contact_person.mobile" placeholder="Mobile Number">
							    </div>
							</div>

							<div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Postage Address</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="contact_person.address" placeholder="Address">
							    </div>
							</div>

				    		 
						 </div>
				    
				    
				    </div>
				  </div>

				  <!-- Entered By -->
				  <div class="form-group">
				    <label for="entered_by" class="col-sm-2 control-label">Content collected/entered by</label>
				    <div class="col-sm-8">
				    	<div class="multielement">
				    	
				    		
						    <div class="form-group">
							    <label for="entered_by.name" class="col-sm-2 control-label">Name</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="entered_by.name" placeholder="Name">
							    </div>
							</div>
						   	<div class="form-group">
							    <label for="entered_by.email" class="col-sm-2 control-label">Email</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="entered_by.email" placeholder="Email">
							    </div>
							</div>

							
						 </div>
				    
				    
				    </div>
				  </div>

				  </div>
				  

		    <div role="tabpanel" class="tab-pane active" id="geo">
		    	<div class="form-group">
				    <label for="geo_manual" class="col-sm-2 control-label">Place Search</label>
				    <div class="col-sm-8">
				    	<!-- <input type="text" id="placesearch" class="form-control" /> -->
				    	<div id="map" tabindex="0"></div>
						<div id="popup" class="ol-popup">
						    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
						    <div id="popup-content"></div>
						</div>
						
				    </div>
				</div>
		    	
		    	<div class="form-group">
				    <label for="geo_manual" class="col-sm-2 control-label">Location Entries</label>
				    <div class="col-sm-8">
				    <ul>
				    	<li class="multielement" v-for="(index,geo_entry) in geographic_coverage" v-bind:value="geo_entry">
				    		<div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Location Name</label>
							    <div class="col-sm-8">
							    	<input type="text" class="form-control" v-model="geo_entry.display_name" placeholder="Location Name">
							    </div>
							  </div>

							  <div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Latitude</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" v-model="geo_entry.latitude" placeholder="Latitude">
							    </div>
							    <label for="custodian" class="col-sm-2 control-label">Longitude</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" v-model="geo_entry.longitude" placeholder="Longitude">
							    </div>
						     </div>

						   	<div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Western Extent</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" v-model="geo_entry.extents.western_extent" placeholder="Western Extent">
							    </div>
						     </div>

						     <div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Eastern Extent</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" v-model="geo_entry.extents.eastern_extent" placeholder="Eastern Extent">
							    </div>
							
						     </div>

						      <div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Northern Extent</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" v-model="geo_entry.extents.northern_extent" placeholder="Northern Extent">
							    </div>
							 
						     </div>

						     <div class="form-group">
							    <label for="custodian" class="col-sm-2 control-label">Southern Extent</label>
							    <div class="col-sm-3">
							    	<input type="text" class="form-control" v-model="geo_entry.extents.southern_extent" placeholder="Southern Extent">
							    </div>
							    <button @click="removeGeoEntry(index)" class="btn btn-danger" type="button">
						        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete this location
						     	</button>
						     </div>

				    		
				    		
						 </li>
				    </ul>
				    <button type="button" @click="addGeoEntry" class="btn btn-default">Add Location Manually</button>
				    </div>
				  </div>
		    	
		    	
		    	
		    </div>

		    <div role="tabpanel" class="tab-pane" id="files">
		    	
				  <div class="form-group">
				    <label for="title" class="col-sm-2 control-label">Associated Files</label>
				    <div class="col-sm-8">
				      	<div id="uploader"></div>
				    	<p class="help-block">Attach relevant files here.</p>
				    </div>
					    
				  </div>

				  <!-- Associated Online Resources -->
				  <div class="form-group">
				    <label for="content_owners" class="col-sm-2 control-label">Associated Online Resources</label>
				    <div class="col-sm-8">
				    <ul>
				    	<li v-for="(index,access_mechanism) in access_mechanism" v-bind:value="access_mechanism">
				    		<div class="input-group">
						      <input type="text" class="form-control" v-model="access_mechanism" placeholder="Valid Web URL">
						      <span class="input-group-btn">
						        <button @click="removeWebResource(index)" class="btn btn-danger" type="button">
						        	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						        </button>
						      </span>
						    </div><!-- /input-group -->
				    		
						 </li>
				    </ul>
				    <button type="button" @click="addWebResource" class="btn btn-default">Add Online Resource</button>
				    <p class="help-block">Add relevant online resources.</p>
				    </div>
				  </div>
		    </div>
		  </div>


			







		  <br/>
		  <hr>
		  <div class="row">
			  <div class="form-group">
			    <div class="col-sm-offset-2 col-sm-4 col-md-4">
			      <button v-if="database_id" type="button" @click="submit" class="btn btn-primary">Update Item</button>
			      <button v-if="!database_id" type="button" @click="submit" class="btn btn-primary">Submit Item</button>
			     
			      <span v-if="updated" id="submitresult" class="alert alert-info" role="alert">{{update_message}}</span>
			    </div>
			    <div class="col-md-4">
			    	<a target="_blank" class="pull-right" v-if="status == 'Published'" href="/prototype/item/{{container_id}}">View in repository</a>
			    </div>
			  </div>
		  </div>
		</form>

<!-- <pre>{{ $data|json }}</pre> -->

<?php include( 'js/fine-uploader/templates/default.html' );	?>
<?php include( 'js/fine-uploader/templates/simple-thumbnails.html' );	?>

</div>
<script type="text/javascript">
	var site_url = '<?php echo get_site_url();?>';
	var uuid = '<?php echo uniqid();?>';
</script>  
  

<script src="<?php print get_template_directory_uri();?>/js/map.js"></script>
<script src="<?php print get_template_directory_uri();?>/js/app.js"></script>


<script type="text/javascript">
	
	

</script>