<?php

?>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>


<div id="repository-list-wrapper" class="container">



<div class="jumbotron">
  <h1>My Repository Items  </h1>
  <p>Here is a list of all the items you have permissions to edit inthe RCCAP Repository. <br/>
  To edit any item, simply click on the "Edit Item" button.</p>
  <p><a class="btn btn-primary btn-lg" href="?page=add_item" role="button">Add new Item now</a></p>
</div>




	<table class="table table-striped">
	<thead>
		<tr>
			<th>ID</th>
			<?php if (repository_is_user_repository_admin()): ?>
				<th>User ID</th>
			<?php endif; ?>
			<th>Title</th>
			<th>Status</th>
			<th>Updated</th>
			<th>Created</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<?php foreach(repository_getItemList() as $item):?>
			<tr id="row_<?php print $item->id;?>">
				<td><?php print $item->id; ?></td>
				<?php if (repository_is_user_repository_admin()): ?>
					<td><?php print $item->user_id; ?></td>
				<?php endif; ?>
				<td><?php print $item->title; ?></td>
				<td><?php print $item->status; ?></td>
				<td><?php print $item->updated_at; ?></td>
				<td><?php print $item->created_at; ?></td>
				<td>
					<a class="btn btn-sm btn-success" href="?page=add_item&item_id=<?php print $item->id; ?>">Edit Item</a>
					<button @click="deleteItem('<?php print $item->id; ?>','<?php print $item->container_id; ?>')" class="btn btn-sm btn-danger">Delete Item</button>
				</td>
			</tr>
		<?php endforeach; ?>
	</tbody>
	</table>

</div>

<script type="text/javascript">
	var vm = new Vue({
		el: '#repository-list-wrapper',
		ready() {
			console.log('Form Ready');
		},
		methods:{
			deleteItem(id,container_id){
				console.log('deleteItem: '+id);
				var self = this;
	    		this.$http.post(ajaxurl, { item_id: id,container_id: container_id,action: 'repository_delete_item' }, { emulateJSON: true }).then(function(response) {
	    		 		console.log('success');
	                    console.log( response.json() );
	                    if (response.json().status == 'success'){
	                    	jQuery('#row_'+response.json().id).remove();
	                    }
	            
	                }, function(response) {
	                    // error callback
	                    console.log('error');
	                });
			}

		}
	});
</script>