@charset "UTF-8";
/*!
 Theme Name:   RCCDF Material Theme
 Theme URI:    http://www.rccdf.com.au/
 Description:  RCCDF theme based on material design. Based on Brad Williams' MDLWP.
 Author:       Sam Wolski, Brad Williams
 Author URI:   http://www.samwolski.com, http://braginteractive.com

 Description: Material Design Lite WordPress Theme
 Version: 1.1.8
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Navigation
	## Menus
# Alignments
# Content
    ## Posts and pages
	## Comments
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic|Roboto+Slab:400,100,300,700);
.mdl-button.mdl-button--colored {
  color: #2196f3; }
  .mdl-button.mdl-button--colored.mdl-button--raised {
    color: white; }
  .mdl-button.mdl-button--colored.custom i {
    color: white; }
  .mdl-button.mdl-button--colored.lblue {
    background: #68aeef; }
  .mdl-button.mdl-button--colored.salmon {
    background: #ff8a65; }
  .mdl-button.mdl-button--colored.lbrown {
    background: #8d6e63; }

img {
  max-width: 100%; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Roboto fonts imported from google webfonts.
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Fontawesome
--------------------------------------------------------------*/
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("//netdna.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

body,
button,
input,
select,
textarea {
  color: #000000;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size: 16px;
  font-size: 1rem; }

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #000000;
  letter-spacing: 0; }

h1, h2, h3, h4 {
  font-family: 'Roboto Slab', serif;
  line-height: 1.2em;
  margin: .25em 0 .75em 0; }
  h1.sans-serif, h2.sans-serif, h3.sans-serif, h4.sans-serif {
    font-weight: 500; }

a {
  color: #2196f3;
  text-decoration: none;
  font-weight: normal; }

a:visited {
  color: #1a5685; }

a:hover {
  color: #2196f3;
  text-decoration: underline; }

p {
  color: #333333;
  line-height: 1.5em; }

.serif {
  font-family: 'Roboto Slab', serif; }

.sans-serif {
  font-family: 'Roboto', 'Helvetica', sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Main Navigation
--------------------------------------------------------------*/
.mdlwp-navigation-container {
  direction: rtl;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.mdlwp-search-box {
  order: 2;
  margin-left: 16px;
  margin-right: 16px; }
  .mdlwp-search-box .mdl-textfield__input {
    border-bottom: 1px solid #fff; }
  .mdlwp-search-box.is-focused ~ .mdlwp-navigation-container {
    opacity: 0;
    width: 100px; }

.top-nav {
  background-color: #7a9d9f; }
  .top-nav .mdl-layout__header-row {
    height: 40px;
    padding: 0 16px; }
    .top-nav .mdl-layout__header-row .mdl-navigation {
      height: auto; }
    .top-nav .mdl-layout__header-row .mdlwp-search-box {
      min-height: 0px; }
    .top-nav .mdl-layout__header-row .mdl-navigation__link {
      line-height: 1em;
      font-weight: 400;
      font-size: 1em; }
    .top-nav .mdl-layout__header-row .mdl-textfield {
      margin-top: 3px; }
    .top-nav .mdl-layout__header-row .mdl-button i {
      font-size: 20px; }

.main-nav {
  padding: 30px 0; }
  .main-nav .mdl-layout__header-row {
    padding: 0 16px; }
  .main-nav .mdl-layout__header-row .mdl-navigation__link {
    text-transform: uppercase;
    color: #2196f3;
    font-size: 1em; }
  .main-nav .collapsed-nav-button:hover {
    color: white;
    background-color: #2196f3; }

/*--------------------------------------------------------------
## Posts Navigation
--------------------------------------------------------------*/
.mdlwp-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #757575;
  font-weight: 500; }
  .mdlwp-nav > .mdlwp-nav__button {
    color: #757575;
    text-decoration: none; }
  .mdlwp-nav .mdl-button {
    color: rgba(0, 0, 0, 0.54);
    background-color: white; }
  .mdlwp-nav > .mdlwp-nav__button:first-child .mdl-button {
    margin-right: 16px; }
  .mdlwp-nav > .mdlwp-nav__button:last-child .mdl-button {
    margin-left: 16px; }

/*--------------------------------------------------------------
## Misc Navigation Styles, Buttons, etc
--------------------------------------------------------------*/
.mdl-button--colored {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .mdl-button--colored.mdl-button--colored-secondary {
    background: #ffcc00;
    color: #000; }
    .mdl-button--colored.mdl-button--colored-secondary:hover {
      background: #F57F17; }
  .mdl-button--colored.mdl-button--fab {
    line-height: 48px;
    background: #ffcc00;
    font-size: 24px;
    height: 48px;
    margin: auto;
    min-width: 48px;
    width: 48px; }
    .mdl-button--colored.mdl-button--fab.mdl-button--fab-small {
      line-height: 28px;
      font-size: 16px;
      height: 28px;
      margin: auto;
      min-width: 28px;
      width: 28px; }
      .mdl-button--colored.mdl-button--fab.mdl-button--fab-small .fa-chevron-right {
        margin: 6px 0 0 3px; }
    .mdl-button--colored.mdl-button--fab .fa-chevron-right, .mdl-button--colored.mdl-button--fab .fa-folder-open {
      margin: 2px 0 0 3px; }
    .mdl-button--colored.mdl-button--fab .fa-table {
      margin: 1px 0 0 0; }
    .mdl-button--colored.mdl-button--fab:hover {
      z-index: 1000;
      box-shadow: rgba(0, 0, 0, 0.3) 0 6px 6px 0;
      -ms-transform: translate(0px, -4px);
      /* IE 9 */
      -webkit-transform: translate(0px, -4px);
      /* Safari */
      transform: translate(0px, -4px);
      background: #F57F17; }
    .mdl-button--colored.mdl-button--fab i {
      color: #000; }
  .mdl-button--colored:hover {
    text-decoration: none; }

input[type="submit"] {
  border-radius: 2px;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0 !important;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  input[type="submit"]:hover {
    background-color: #2196f3;
    color: #FFF; }
  input[type="submit"] .mdl-button--colored {
    background-color: #2196f3;
    color: #FFF; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Widths
--------------------------------------------------------------*/
.mdlwp-900 {
  max-width: 900px; }

.mdlwp-1200 {
  max-width: 1200px;
  margin: 0 auto; }

.mdlwp-1600 {
  max-width: 1600px; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.site-main {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }
  .site-main .mdl-card {
    margin-bottom: 35px; }
  .site-main header h1, .site-main header h3 {
    margin: 0;
    color: #fff;
    font-weight: 300; }
    .site-main header h1 a, .site-main header h3 a {
      color: #fff;
      text-decoration: none; }
  .site-main header h3 {
    font-size: 2.4em; }
  .site-main .mdl-card__media {
    box-sizing: border-box;
    background-size: cover;
    background-color: #3e6371;
    padding: 24px;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    height: 280px; }
  .site-main .meta {
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: auto; }
    .site-main .meta .avatar,
    .site-main .meta .entry-meta {
      display: flex;
      flex-direction: column; }
    .site-main .meta .avatar {
      margin-right: 10px;
      display: inline-block;
      border-radius: 50%; }
    .site-main .meta .entry-meta a {
      text-decoration: none;
      color: #757575;
      font-size: 12px;
      line-height: 16px; }

.single-post .entry-content p {
  font-size: 16px;
  line-height: 28px; }

.single .mdl-card__media,
.page .mdl-card__media {
  cursor: default;
  box-shadow: inset 0px -70px 100px rgba(0, 0, 0, 0.35); }
.single .default-sidebar-heading,
.page .default-sidebar-heading {
  font-size: 1.6em; }

.single .mdl-card__media, .single .mdl-card__supporting-text {
  padding: 36px 72px 36px 48px; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments h3 {
  margin-top: 0;
  font-size: 2em; }

.comment-content a {
  word-wrap: break-word; }

.comments-area {
  padding: 35px; }

.comments-title, .comment-reply-title {
  padding-bottom: 9px;
  margin: 40px 0 20px 0;
  border-bottom: 1px solid #eee; }

ol.comment-list {
  list-style: none;
  padding-left: 0; }

.comment-author .avatar {
  margin-right: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  padding: 4px; }

.comment-meta {
  margin-top: 20px;
  margin-bottom: 20px; }

.comment-details {
  overflow: hidden;
  zoom: 1;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ddd; }

.comment-details .reply {
  margin-top: 10px; }

.comment-date a {
  font-size: 11px;
  color: #777;
  margin-right: 10px; }

#commentform #comment {
  width: 100% !important; }

#commentform .mdl-textfield {
  width: 100% !important; }

#commentform #submit {
  position: relative;
  padding: 8px 30px;
  border: 0;
  margin: 10px 1px;
  cursor: pointer;
  line-height: 1em; }

/*--------------------------------------------------------------
## Misc forms
--------------------------------------------------------------*/
.mdl-textfield:not(.mdl-textfield--expandable) {
  width: 100%;
  max-width: 400px; }
  .mdl-textfield:not(.mdl-textfield--expandable) .mdl-textfield__input {
    width: 100%;
    max-width: 360px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block; }
  .mdl-textfield:not(.mdl-textfield--expandable) button[type="submit"] {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.5);
    padding: 0;
    min-width: 0px;
    width: 40px;
    float: right;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
## BBPress forum styles
--------------------------------------------------------------*/
.site-main.forum #bbpress-forums li.bbp-header .bbp-reply-content, .site-main.forum #bbpress-forums li.bbp-footer .bbp-reply-content {
  margin-left: 130px; }
.site-main.forum .subscription-toggle, .site-main.forum .favorite-toggle {
  float: right;
  margin: 0 .5em .5em .5em;
  display: inline-block; }
  .site-main.forum .subscription-toggle i, .site-main.forum .favorite-toggle i {
    margin-right: .35em; }
.site-main.forum #subscription-toggle, .site-main.forum #favorite-toggle {
  margin: 0 .5em .5em .5em; }
.site-main.forum .bbp-breadcrumb {
  margin-top: .5em; }
.site-main.forum .widget_display_stats dl {
  margin-top: 0;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1em; }
  .site-main.forum .widget_display_stats dl dt {
    clear: left; }
  .site-main.forum .widget_display_stats dl dd {
    text-align: right; }
  .site-main.forum .widget_display_stats dl dt, .site-main.forum .widget_display_stats dl dd {
    margin: .25em 0 .5em 0;
    display: inline-block;
    width: 45%;
    vertical-align: top; }
.site-main.forum .widget-title {
  font-weight: 300;
  font-size: 1.8em;
  margin: .75em 0 .25em 0; }
  .site-main.forum .widget-title:first-of-type {
    margin-top: 0; }
.site-main.forum .widget_display_topics ul {
  list-style-type: none;
  padding: 0; }
  .site-main.forum .widget_display_topics ul li {
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    margin-bottom: .5em;
    padding: .75em .5em .75em .5em; }
    .site-main.forum .widget_display_topics ul li i {
      vertical-align: top;
      font-size: 1.6em;
      display: inline-block;
      height: 40px;
      width: 1em;
      color: #000;
      margin: 0 .3em; }
.site-main.forum #bbpress-forums div.bbp-search-form {
  float: none; }
.site-main.forum #bbpress-forums .bbp-forum-info .bbp-forum-content, .site-main.forum #bbpress-forums p.bbp-topic-meta {
  font-size: 0.95em;
  margin: .25em 0 1em; }
.site-main.forum #bbpress-forums #bbp-search-form #bbp_search {
  width: 100%;
  padding: .35em 0; }
.site-main.forum .mdl-data-table {
  color: #5f5f5f;
  border-color: #dbdbdb;
  margin-top: 2em; }
  .site-main.forum .mdl-data-table th, .site-main.forum .mdl-data-table td {
    padding: 1em;
    border-color: #dbdbdb; }
  .site-main.forum .mdl-data-table th {
    color: #90a4ae;
    font-weight: 500; }
    .site-main.forum .mdl-data-table th:first-of-type {
      padding-left: 18px; }
  .site-main.forum .mdl-data-table td {
    color: #5f5f5f; }
    .site-main.forum .mdl-data-table td:first-of-type {
      padding-left: 18px; }
.site-main.forum table {
  width: 100%;
  font-size: 1.2em; }
.site-main.forum .mdl-card__media {
  height: 120px; }
.site-main.forum .mdl-card__supporting-text {
  width: auto;
  color: #000000; }
.site-main.forum #bbpress-forums p.bbp-topic-meta img.avatar, .site-main.forum #bbpress-forums ul.bbp-reply-revision-log img.avatar, .site-main.forum #bbpress-forums ul.bbp-topic-revision-log img.avatar, .site-main.forum #bbpress-forums div.bbp-template-notice img.avatar, .site-main.forum #bbpress-forums .widget_display_topics img.avatar, .site-main.forum #bbpress-forums .widget_display_replies img.avatar {
  border-radius: 50%;
  border: none;
  vertical-align: top;
  margin-top: 3px; }
.site-main.forum .bbp-the-content {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

/*--------------------------------------------------------------
## Modules 
--------------------------------------------------------------*/
.home-jumbotron {
  color: white;
  margin: 3em 0 1em; }
  .home-jumbotron > .mdl-cell {
    background: rgba(255, 255, 255, 0.15);
    padding: 0em 2em 0em; }
  .home-jumbotron img {
    margin: 0 .5em; }
  .home-jumbotron h1 {
    font-size: 3.6em;
    color: #34535f;
    font-weight: 300; }
  .home-jumbotron p {
    font-size: 1em;
    font-weight: 300;
    color: white;
    max-width: 800px;
    margin: 1.5em auto; }
  .home-jumbotron a {
    line-height: 1.2em; }
    .home-jumbotron a .mdl-button.mdl-button--raised {
      color: black;
      background: #ffcc00;
      padding: 0 2em;
      font-size: 1.6em;
      line-height: 2em;
      height: 2.4em; }

@media (max-width: 1100px) {
  .home-jumbotron > .mdl-cell {
    padding: 1.5em 1em 1.5em; }
  .home-jumbotron h1 {
    font-size: 3.2em; } }
@media (max-width: 900px) {
  .home-jumbotron > .mdl-cell {
    padding: 1em 1em 1.5em; }
  .home-jumbotron h1 {
    font-size: 3em; }
  .home-jumbotron p {
    font-size: 1.1em;
    margin: 1em 0; } }
@media (max-width: 480px) {
  .home-jumbotron > .mdl-cell {
    padding: 1em 1em 1.5em; }
  .home-jumbotron h1 {
    font-size: 3em; }
  .home-jumbotron p {
    font-size: 1.1em;
    margin: 1em 0; }
  .home-jumbotron img {
    max-width: 50px;
    height: auto; } }
.home-primary.mdl-grid {
  padding: 0;
  margin: 0 16px 2em 16px; }
.home-primary .mdl-card {
  background-color: #FFFFFF;
  margin: 0;
  display: inline-block; }
  .home-primary .mdl-card h2 {
    font-weight: 400;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); }
    .home-primary .mdl-card h2 a {
      color: white; }
  .home-primary .mdl-card .mdl-card__title {
    background-position: top center;
    background-repeat: no-repeat;
    height: 227px;
    background-size: cover;
    box-shadow: inset 0px -100px 80px rgba(0, 0, 0, 0.5); }
    .home-primary .mdl-card .mdl-card__title .mdl-card__title-text {
      max-width: 86%; }
  .home-primary .mdl-card .mdl-card__supporting-text {
    max-width: 85%;
    padding: 20px 16px 8px; }
    .home-primary .mdl-card .mdl-card__supporting-text a {
      text-transform: uppercase;
      display: block;
      font-weight: 500;
      font-size: 1.1em; }
  .home-primary .mdl-card:nth-child(2) {
    background-color: #ebe9e9; }
  .home-primary .mdl-card:nth-child(3) {
    background-color: #dbdbdb; }
  .home-primary .mdl-card .mdl-card__menu {
    top: 200px; }
  .home-primary .mdl-card.mdl-cell.mdl-cell--3-col {
    margin: 0;
    border-radius: 0px; }
@media (min-width: 840px) {
  .home-primary .mdl-cell--3-col, .home-primary .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
    width: calc(25%); } }
@media (max-width: 839px) and (min-width: 480px) {
  .home-primary .mdl-cell--4-col, .home-primary .mdl-cell--4-col-tablet.mdl-cell--4-col-tablet {
    width: calc(50%); } }
@media (max-width: 479px) {
  .home-primary .mdl-cell--12-col, .home-primary .mdl-cell--12-col-phone.mdl-cell--12-col-phone {
    width: calc(100% ); } }

.home-secondary .mdl-card {
  width: auto;
  margin-bottom: 8px; }
  .home-secondary .mdl-card .mdl-card__title {
    background-color: #3e6371;
    color: white; }
    .home-secondary .mdl-card .mdl-card__title h2.mdl-card__title-text {
      font-size: 1.3em; }
    .home-secondary .mdl-card .mdl-card__title h4.mdl-card__title-text {
      font-size: 1.2em; }
  .home-secondary .mdl-card .mdl-card__supporting-text h3 {
    font-size: 1.7em; }
  .home-secondary .mdl-card.call-to-action {
    min-height: 0px; }
    .home-secondary .mdl-card.call-to-action .mdl-card__title {
      display: block;
      padding-top: 35px;
      padding-bottom: 35px;
      vertical-align: middle; }
      .home-secondary .mdl-card.call-to-action .mdl-card__title h4 {
        font-weight: 400; }
    .home-secondary .mdl-card.call-to-action .mdl-card__menu {
      top: 50%;
      margin-top: -24px; }
  .home-secondary .mdl-card h4 {
    font-size: 1.2em; }
  .home-secondary .mdl-card h5 {
    font-size: 1.1em;
    font-weight: 400;
    color: #90a4ae; }
    .home-secondary .mdl-card h5.location {
      text-transform: uppercase; }
.home-secondary .home-latest-submission .mdl-card, .home-secondary .home-latest-news .mdl-card {
  min-height: 0px; }
  .home-secondary .home-latest-submission .mdl-card p, .home-secondary .home-latest-news .mdl-card p {
    margin-bottom: 0; }
.home-secondary .home-latest-submission .mdl-card__supporting-text h3, .home-secondary .home-latest-news .mdl-card__supporting-text h3 {
  font-size: 1.2em; }
.home-secondary .home-latest-submission .submission-link:hover, .home-secondary .home-latest-news .submission-link:hover {
  text-decoration: none !important; }
  .home-secondary .home-latest-submission .submission-link:hover .mdl-card, .home-secondary .home-latest-news .submission-link:hover .mdl-card {
    background-color: #cae7fd; }
.home-secondary .mdl-card__supporting-text.mdl-card--border {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .home-secondary .mdl-card__supporting-text.mdl-card--border:nth-child(2) {
    border-top: 0px; }

.home-tertiary .contribute-box {
  background-color: #c3e0f4;
  padding: 2em;
  margin-bottom: 2em; }
  .home-tertiary .contribute-box .icon-box {
    text-align: center; }
.home-tertiary .link-to-top {
  text-align: center;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 100%; }
  .home-tertiary .link-to-top i {
    margin-right: .2em; }

/*--------------------------------------------------------------
## Templates - Page Ribbon
--------------------------------------------------------------*/
.page-template-page-ribbon .site-main {
  padding-top: 0; }
  .page-template-page-ribbon .site-main header h3 {
    color: #3e6371;
    margin-bottom: 1em;
    font-size: 3em; }
.page-template-page-ribbon .mdlwp-page-ribbon {
  margin-top: -35vh;
  flex-shrink: 0;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  z-index: 1;
  -webkit-overflow-scrolling: touch; }
.page-template-page-ribbon .ribbon {
  width: 100%;
  height: 40vh;
  flex-shrink: 0;
  background-position: center;
  background-size: cover; }
.page-template-page-ribbon .ribbon-content {
  padding: 40px 60px; }
.page-template-page-ribbon .is-small-screen .ribbon-content {
  padding: 20px 30px; }

body {
  background-color: #f1f2f3;
  background-image: url("images/bg-repeat.png");
  background-position: top left;
  background-repeat: repeat; }
  body #page {
    min-height: 100%;
    height: auto;
    overflow-y: hidden; }

.mdl-layout__content {
  background-image: url("images/bg-banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  overflow-y: visible;
  overflow-x: visible; }

.mdl-layout__header {
  background: none;
  box-shadow: none; }

.site-header {
  /*background:#FFF;*/ }

.site-main {
  margin-top: -30px; }

.mdl-layout__header-row {
  width: 100%; }

.mdl-card {
  border-radius: 0px; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.mdl-mega-footer {
  clear: both;
  position: relative;
  background-color: #eaeaea;
  color: #a5a5a5;
  padding: 2em 0; }
  .mdl-mega-footer h5 {
    color: #a5a5a5;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400; }
  .mdl-mega-footer p {
    color: #a5a5a5; }
  .mdl-mega-footer .footer-content p {
    margin-bottom: .5em; }
  .mdl-mega-footer .footer-content img {
    margin-right: 2em;
    margin-bottom: 1em;
    max-height: 92px;
    width: auto; }
  @media (max-width: 840px) {
    .mdl-mega-footer .footer-content .mdl-cell {
      text-align: center; } }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*# sourceMappingURL=style.css.map */
