$color__background-body: #f1f2f3;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-topnav: #7a9d9f;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #2196f3;
$color__link-visited: #1a5685;
$color__link-hover: #2196f3;
$color__background-hover: #cae7fd;
$color__text-main: #000000;
$color__text-grey: #5f5f5f;
$color__paragraph: #333333;

$color__secondary: #ffcc00;
$color__secondary-hover: #F57F17;
$color__tertiary: #3e6371;
$color__tertiary-text: #34535f;

$color__bblue: #c3e0f4;
$color__lblue: #68aeef;
$color__salmon: #ff8a65;
$color__lbrown: #8d6e63;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__dark-grey: #757575;
$mdl-color-text--grey-700: #a5a5a5;
$mdl-color-body: #FFFFFF;

$color__grey-zero: #FFFFFF;
$color__grey-one: #ebe9e9;
$color__grey-two: #dbdbdb;
$color__grey-green: #90a4ae;
$color__grey-footer: #eaeaea;


.mdl-button {
	&.mdl-button--colored {
    	color: $color__link;

    	&.mdl-button--raised {
    		color: white;
    	}

    	&.custom {
    		i {
		    	color:white;
		    }
    	}
	    &.lblue{
	    	background: $color__lblue;
	    }
	    &.salmon{
	    	background: $color__salmon;
	    }
	    &.lbrown{
	    	background: $color__lbrown;
	    }

    }
    
}